pkgbase = jmcb-pkgbuild-tools
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/joelsgp-pkgbuild/_templates
	arch = any
	license = GPL3
	depends = base-devel
	optdepends = asp: download repo PKGBUILDs
	optdepends = desktop-file-utils: lint .desktop files
	optdepends = devtools: utilities
	optdepends = gendesk: generate .desktop files via script
	optdepends = namcap: lint PKGBUILD files
	optdepends = pacman-contrib: utilities
	optdepends = paru: aur helper
	optdepends = yay: aur helper
	source = .gitignore
	source = new.sh
	source = printsrcinfo.sh
	source = PKGBUILD.default
	source = PKGBUILD.python
	sha256sums = ba859633c082e8318f606d4bf358f7d1c42d8da63ecea468edd4bbef5867b706
	sha256sums = d1313a3a32dabd8cf6b263ac2409016baa6cf55b2c3668246ae11db640132b55
	sha256sums = 37e5d1692ace095bc52bbc83904f80a07b6374d0e6dc48086dffa05777ef9fd2
	sha256sums = 1596b2f693037c0e4480291c114ec45eff7845899f96502e9c3be8cfc6418885
	sha256sums = 4a5a0fe79af6ff2bb730a4ca126dc473a7d7f600a935adfd852d3b2f0b436c5f

pkgname = jmcb-pkgbuild-tools
