pkgbase = jmcb-pkgbuild-tools
	pkgver = 0.1.0
	pkgrel = 2
	url = https://github.com/joelsgp-pkgbuild/_templates
	arch = any
	license = GPL3
	depends = base-devel
	optdepends = desktop-file-utils: lint .desktop files
	optdepends = devtools: utilities
	optdepends = dex: generate and run .desktop files
	optdepends = gendesk: generate .desktop files via script
	optdepends = namcap: lint PKGBUILD files
	optdepends = pacman-contrib: utilities
	optdepends = paru: aur helper
	source = .gitignore
	source = new.sh
	source = printsrcinfo.sh
	source = PKGBUILD.default
	source = PKGBUILD.python
	sha256sums = ba859633c082e8318f606d4bf358f7d1c42d8da63ecea468edd4bbef5867b706
	sha256sums = 6a0e46efdc881e57a2f151cd3320ba4505caf0bcd898ed0fa71deda61571ab4d
	sha256sums = 37e5d1692ace095bc52bbc83904f80a07b6374d0e6dc48086dffa05777ef9fd2
	sha256sums = feca10d1b6e127cbfc9ff4735d960d368a5eb471cfeb34ae1a13e06912ff573e
	sha256sums = df01fa008b223792f10d2b712e800d688d05cfe1d6ef4fc8178926262ec0b76c

pkgname = jmcb-pkgbuild-tools
